.env
venv/
env/
.venv/


__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*.db
instance/

uploads/*.jpg
uploads/*.jpeg
uploads/*.png

.vscode/
.idea/
*.swp
*.swo

logs/*.log

faces/encodings.pkl

*.sqlite3